# Node / Next / Nest
node_modules/
.next/
dist/

# Monorepo / pnpm
# keep the root lockfile, ignore nested ones
!pnpm-lock.yaml
apps/*/pnpm-lock.yaml
packages/*/pnpm-lock.yaml
apps/*/node_modules/
packages/*/node_modules/

# IDE / OS
.idea/
.vscode/
.DS_Store

# Env & local config
.env
.env.*
apps/*/.env
apps/*/.env.*
infra/docker/.data/
**/pnpm-lock.yaml.*

apps/api/prisma/*.js
apps/api/prisma/*.js.map

